body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    min-height: 156px;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}

.menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin-right: 12px;
}

.menu-item {
    margin-right: 50px;
}

.item-link {
    text-decoration: none;
    color: #314584;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.18px;
}

.item-link:hover, .item-link:focus {
    color: #ff3946;
}

.logo {
    background: url("images/logo.png") no-repeat;
    width: 69px;
    height: 30px;
}

.nav-contact {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.18px;
}

.contact-link {
    width: 201px;
    height: 61px;
    box-shadow: 0 5px 10px rgba(25, 45, 51, 0.15);
    background-color: #ffffff;
    color: #ff3946;
    line-height: 20.76px;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    background: url("images/Arrow.png") no-repeat 151px ,right;
    cursor: pointer;
}

.language {
    text-transform: uppercase;
    color: #314584;
    margin-top: 18px;
    margin-right: 24px;
    cursor: pointer;
}

.language::after{
    content: url(images/Arrow_Down.png);
}
.account {
    display: flex;
    margin: 70px 0 182px 450px;

}

.main-section {

}

.title {
    color: #314584;
    font-size: 73px;
    font-weight: 400;
    letter-spacing: 0.73px;

}

.info {
    color: #6e757a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.18px;
    max-width: 570px;
    margin-top: -36px;
}

.image {
    width: 1000px;
    height: 660px;
    background: url("images/illustration.png") no-repeat;
}

.links {
    margin-top: 39px;
}

.button-about {
    width: 201px;
    height: 56px;
    box-shadow: 0 5px 10px rgba(255, 57, 70, 0.15);
    background-color: #ff3946;
    border-radius: 28px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    cursor: pointer;
    margin-right: 25px;
}

.portfolio {

}

.portfolio-title {
    width: 393px;
    color: #314584;
    font-size: 48px;
    font-weight: 400;
    margin-left: 65px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 36px;

}

.images {
    width: 371px;
    height: 281px;
    background: #c3d0d8;
    margin-bottom: 36px;
}

.more-images {
    color: #ff3946;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: -38px;
}

.getintouch {
    text-decoration: none;
    color: #314584;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.18px;
}

.contact {
    padding: 65px 119px;
    box-sizing: border-box;
    margin-top: 208px;

}

.fieldset {
    display: flex;
    border: none;
}

.legend {
    color: #ff3946;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact-p {
    color: #314584;
    font-size: 48px;
    font-weight: 400;
    margin: 24px 0;
}

.input-text, .textarea {
    width: 571px;
    height: 61px;
    background-color: #f4fafe;
    border: none;
    margin: 7px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    color: #314584;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.18px;
}

.input {
    width: 48%;
}

.input-area {
    margin-bottom: 62px;
}

.textarea {
    width: 98%;
    height: 121px;
    color: #314584;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 44px;
}

.button-send {
    width: 201px;
    height: 56px;
    box-shadow: 0 5px 10px rgba(255, 57, 70, 0.15);
    background-color: #ff3946;
    border-radius: 28px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    cursor: pointer;
    margin: 0 auto;
}

.footer {
    text-align: center;
    background: #314584;
    padding-top: 60px;
}

.footer-name {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    text-transform: uppercase;
}

.footer-above {
    color: #ff3946;
    font-size: 48px;
    font-weight: 400;
    margin: 28px 0;
    text-transform: uppercase;
}

.menu-nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 30px;
}

.menu-footer {
    margin-right: 45px;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.76px;
    letter-spacing: 0.18px;
}

.footer-link:hover, .footer-link:focus {
    color: #ff3946;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
}

.social {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-bottom: 21px;

}

.social-link {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    cursor: pointer;
}

.facebook {
    width: 26px;
    background: url("images/facebook.png") no-repeat;
}

.twitter {
    background: url("images/twitter.png") no-repeat;
    margin: 0px 90px;
}

.dribble {
    background: url("images/dribble.png") no-repeat;
}

@media (min-width: 768px) {

}